body{
    background-color: black;
}

#container{

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;

}


#chatarea{
    position: relative;

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
   
}

#display{
    position: relative;
    width: 70vw;
    height: 80vh;
    top: 40px;
    margin-bottom: 50px;
    background-color: rgba(37, 37, 37, 0.407);
    overflow: hidden;
}

#attach-input-send-holder{

    position: relative;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

}

#attach-button{
     position: relative;
    width:4vw ;
    height:  5vh;
    cursor: pointer;
    /* margin-right: 8px; */
   
}


#send-button-holder-holder{
        width:4vw ;
    height:  5vh;

}

#input{
    position: relative;
    width:50vw;
    height: 5vh;
    /* margin-right: 4vw; */

}

#sendButton{
    position: relative;
    width:10vw ;
    height:  5vh;
    cursor: pointer;


}

#attach{
    font-size: 20px;
    font-weight: bolder;
}


#return-holder{
    position: relative;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     border-radius: 30px;
     top:2vh ;
}
#return-button{
    position: relative;
    width: 40px;
    height: 40px;
    top: -1px;
     cursor: pointer;
   
   
}

