body{
    background-color: rgb(15, 15, 15);
}


h1{
    position: relative;
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 70px;
    
}


h2{
    position: relative;
    color: white;
    font-family: cursive;
    text-align: center;
    font-size: 20px;
    top: 70vh;
}


.image-holder{
    position: relative;
    top: 50px;
    margin-bottom: 100px;
    width: 120px;
    height: 120px;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    
}

.image-holder:hover{
    background-color: rgb(58, 57, 57);
    cursor: pointer;
}

#tree-house-logo{
    width: 100px;
    height: 100px;
    border-radius: 50px;


}


.field-holder{
    position: relative;
    margin-bottom: 10px;
}

.fields{
    color: white; 
    margin-bottom: 30px;
}


label{
    margin-right: 10px;
}

#password{
    position: relative;
    left: 3px;
}

form{
    position: relative;
    width: 400px;
    height:450px;
    background-color: rgba(42, 41, 41, 0.216);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 50vw;

    transform: translateX(-50%);

}
p{
    color: white;
    cursor: pointer;
}

#button{
    position: relative;
    width: 80px;
    cursor: pointer;
    margin-bottom: 30px;
    width: 240px;
}

p:hover{
    color: blue;
}
